.wrapper {
  margin-bottom: 1rem;
}

.input {
  border: 1px solid #eee;
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background: #eee;
  transition: 0.2s;
}

.input:hover,
.input:focus {
  outline: none;
  border-color: #06d6a0;
  background: white;
  box-shadow: 0 0 0 3px #99f5e0;
}

.label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: 10px;
  color: #06d6a0;
}

.error {
  text-align: start;
  color: #f31;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
